@model IEnumerable<Final_Capstone___PCTC.Models.TimeCapsule>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
@foreach (var item in Model)
{

    <div class="col-lg-4 test">
        @item.Name
        <button id="viewTcButton">@Html.ActionLink("Explore", "Contact/" + @item.TCId, "Home")</button>
    </div>
}
    </div>

<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add a Time Capsule
</button>*@
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Time Capsule Information</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="tcName">Time Capsule Name</label>
                        <input type="text" class="form-control" id="tcName" placeholder="Name">
                    </div>
                    
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>