@model IEnumerable<Final_Capstone___PCTC.Models.BookData>
@if (Request.IsAuthenticated)
{
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-3">
                    <img class="bookImg" src="@book.BookCoverImg" width="300"/>
                </div>
            }
        </div>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
